*{
	text-align: center;
	box-sizing: border-box;
}
.table
{
	border: 1;
<<<<<<< HEAD
=======
	background-color: red;
}
.span{
	float: right;
}
#0,0{
 background-color: red;
>>>>>>> refs/remotes/origin/master
}