*{
	text-align: center;
	box-sizing: border-box;
}
table
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
	border: 8 bold;
	//float: center;
	//background-color: red;
}
tr{
	height: 50px;
}
th,td{
	padding: auto;
	border: 0;
	width: auto;
	height: auto;
}
input{
	width:auto;
}
.span{
	float: right;
}
.Name{
	font-size: 20px;
	height: auto;
	//background-color: red;
	width: auto;
}
.Address{
	font-size: 20px;
	height: auto;
	width:200px;
}
.Occupation{
	font-size: 20px;
	height: auto;
	width:200px;
}
.Education{
	font-size: 20px;
	height: auto;
	width:200px;
}
.rad{
	vertical-align: auto;
	width: 1.25em;
    height: 1.25em;
    align-self:center;
}
.Gender{
	text-align: left;
	font-size: 18px;
	height: auto;
	float: left;
}
.Checkboxes{
	//font-size: 20px;
	transform: scale(1.5);
	height: auto;
	width: auto;
}
.BG{
	border: 2;
	font-size: 22px;
	height: auto;
	width: auto;
}
.datepicker{
	font-size: 17px;
	height: auto;
	width: auto;
}
.phonenumber{
	font-size: 20px;
	height: auto;
	width: auto;
}
.OccupationalAddress{
	font-size: 20px;
	height: auto;
	width: 200px;
}
.MaternalSurname{
	font-size: 20px;
	height: auto;
	width: 200px;
}
.relation{
	font-size: 22px;
	height: auto;
	width: auto;
}
date{

 /* {} is the value according to your need */}
